# 함수 매핑

In [1]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
df['ten'] = 10
print(df.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10

In [2]:
def add_10(n):
    return n+10

def add_two_obj(a,b):
    return a+b

print(add_10(10))
print(add_two_obj(10,10))

20
20

In [ ]:
sr1 = df['age'].apply(add_10)
print(sr1.head())
print('\n')