# 함수 매핑
## 개별 원소에 함수 매핑
### 예제 6-1

In [19]:
import seaborn as sns

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age', 'fare']]
df['ten'] = 10
print(df.head())
print('\n')

def add_10(n):
    return n+10

def add_two_obj(a,b):
    return a+b

print(add_10(10))
print(add_two_obj(10,10))

sr1 = df['age'].apply(add_10)
print(sr1.head())
print('\n')

sr2 = df['age'].apply(add_two_obj, b = 10) # b 인자를 명시적으로 적어줘야 정상 작동
print(sr2.head())
print()

sr3 = df['age'].apply(lambda x: add_10(x))
print(sr3.head())

    age     fare  ten
0  22.0   7.2500   10
1  38.0  71.2833   10
2  26.0   7.9250   10
3  35.0  53.1000   10
4  35.0   8.0500   10


20
20
0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64


0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

0    32.0
1    48.0
2    36.0
3    45.0
4    45.0
Name: age, dtype: float64

### 예제 6-2

In [17]:
import seaborn as sns

ti = sns.load_dataset('titanic')
df = ti.loc[:,['age', 'fare']]
print(df.head())
print()

def add_10(n):
    return n+10

df_map = df.applymap(add_10)
print(df_map.head())

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

    age     fare
0  32.0  17.2500
1  48.0  81.2833
2  36.0  17.9250
3  45.0  63.1000
4  45.0  18.0500